#comments {
    padding-right: 1em;
    padding-left: 1em;
}

.comment {
    position: relative;
}

.comment .user {
    font-style: oblique;
}
.comment .user::after{
    font-style: normal;
    content: " said:";
}

.comment .date {
    position: absolute;
    right: 10px;
    text-align: right;
}

.comment p {
    background-color: #EDEFF0;
    padding: 1em;
}

.comment p::before{
    color: grey;
    font-size: 2em;
    content:"\201C";
}

#news article p:first-of-type::first-letter {
    font-size: 1em;
}

form {
    background-color: #EDEFF0;
    padding-bottom: 1em;
}

form > h2 {
    font-size: 1em;
}

input[type=text], input[type=email]{
    display: inline;
    background-color: #EDEFF0;
    border-width: 0.2em;
    border-color: grey;
}

form label {
    font-weight: bold;
}


form textarea {
    width: 100%;
    height: 6em;
}

input[type=submit] {
    display: block;
    background-color: black;
    color: white;
    height: 3em;
    border: none;
    width: 5em;
}


