body {
    background-color: #EDEFF0;
    margin: 0px;
    max-width: 60em;
    display: grid;    
    grid-template-columns: 1fr 20%;
}

body > header {
    grid-column-end: span 2;
    display: grid;
    position: relative;
}

h1 {
    grid-column-end: span 1;
    grid-row-end: span 1;
}

#signup {
    position: absolute;
    right:10px;
    top: 40px;
}

#menu {
    grid-column-end: span 1;
    grid-row-end: span 1;
    margin-bottom: 1em;
    display: flexbox;
}

ul {
    display: flex;
    align-items: stretch;
}

li {
    flex-grow: 1;
}

#related {
    display: relative;
    grid-column-end: span 1;
    grid-row-end: span 3;
}

#news {
    display: static;
    margin-right: 1em;
    grid-column-end: span 1;
    grid-row-end: span 1;
}

#news footer {
    display: flex;
}

#news footer .author {
    flex-grow: 1;
}

body > footer {
    margin-right: 1em;
}   

.date {
    margin-left: 1em;
    margin-right: 1em;
}