body {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 6;
    width: 40%;
    margin: 0em auto;
    font-family: 'Verdana', sans-serif;
}

p {
    font-family: "Georgia", serif;
    line-height: 1.4em;
}

a {
    color: white;
    text-decoration: none;
}

#header {
    grid-row-end: span 1;
    background-color: gray;
    color: white;
    padding: 1em;
}

#menu {
    background-color: #3f0000;
    color: white;
}

ul {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    padding-inline-start: 1em;
}

#menu li {
    grid-column-end: span 1;
    display: inline-block;
    font-size: 0.9em;
    padding: 0.5em;
    padding-left: 0.5em;
}